@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kayıt Ol</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Css/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Css/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Css/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Css/main.css">
  
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
            
                <form class="login100-form validate-form" method="post" action="/Home/Dogrulama/">
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title">
                        Doğrulama Kodunuz
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Kod">
                        <input class="input100" type="text" name="Kod" placeholder="Kod">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa-solid fa-user" aria-hidden="true"></i>

                        </span>

                    </div>



                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" id="kyt">
                            Doğrula
                        </button>
                    </div>
                    <h6>Mail adresinize kodunuz iletilmiştir.</h6>
                    <p>@ViewBag.hata5</p>

                </form>
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/image/img-01.png" alt="IMG">
                </div>

            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/main1.js"></script>

</body>
</html>