@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/slider.css" rel="stylesheet" />
<body>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext"> 1 / 3</div>
            <img src="https://p4.wallpaperbetter.com/wallpaper/917/971/718/neon-sign-snow-welcome-yellow-wallpaper-preview.jpg" style="width:100%">
            <div class="text"> London, Ebgland</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext"> 2 / 3</div>
            <img src="https://i.pinimg.com/736x/3d/35/9f/3d359f3096fcb792f60c562c73c477b7.jpg" style="width:100%">
            <div class="text"> Sunset in Romania</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext"> 3 / 3</div>
            <img src="https://3dduvarkagitlari.com/Content/images/2020/5/5/l/3dduvarkagitlari-c3c82c49.jpg" style="width:100%">
            <div class="text"> New York, USA</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)"> &#10094;</a>
        <a class="next" onclick="plusSlides(1)"> &#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"> </span>
        <span class="dot" onclick="currentSlide(2)"> </span>
        <span class="dot" onclick="currentSlide(3)"> </span>
    </div>


    <script src="~/js/JavaScript.js"></script>

</body>