@using StajYonetimBilgiSistemi.Models.Entity
@model List<StajYonetimBilgiSistemi.Models.Entity.Kullanicilar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="color:red;">Rolünüz atanmamıştır</div>
<a style="text-align:center;"> Lütfen Şirket yetkilinize mesajlar kısmından ulaşınız!</a>