<div class="col-md-3">

    <div class="card" style="min-width:10px;">
        <div class="card-header">
            <h3 class="card-title">Dosyalar</h3>


        </div>
        <div class="card-body p-0" style="background-color: rgba(0,0,0,.03);">
            <ul class="nav nav-pills flex-column">

                <li class="nav-item active">
                    <a href="/Mesaj/Index/" class="nav-link">
                        <i class="fas fa-inbox"></i> Gelen Kutusu
                        <span class="badge bg-primary float-right">@ViewBag.Gidenveri1 </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mesaj/GonderilenKutusu/" class="nav-link">
                        <i class="far fa-envelope"></i> Gönderilen Kutusu
                        <span class="badge bg-primary float-right">@ViewBag.Gidenveri2 </span>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-file-alt"></i> Drafts
                        </a>
                    </li>*@
                @*<li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-filter"></i> Junk
                            <span class="badge bg-warning float-right">65</span>
                        </a>
                    </li>*@

                <li class="nav-item">
                    <a href="/Mesaj/CopKutusu/" class="nav-link">

                        <i class="fas fa-trash"></i> Silinenler
                        <span class="badge bg-primary float-right"> @ViewBag.Gidenveri3 </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <a href="/Mesaj/MesajYaz/" class="btn btn-primary btn-block mb-3">Mesaj Yaz</a>

</div>
