

@{
    ViewBag.Title = "MesajDetaylari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using StajYonetimBilgiSistemi.Models.Entity
@model List<StajYonetimBilgiSistemi.Models.Entity.MesajBilgileri>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Compose Message</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/Css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Css/adminlte.min.css" rel="stylesheet" />
    <!-- summernote -->

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        @Html.Action("MesajListesiMenusu", "Mesaj")
                        @using (Html.BeginForm("MesajYaz", "Mesaj", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {@Html.AntiForgeryToken()
                        <div style="margin-left:20px;color:red;">
                            @TempData["mesaj"]
                        </div>

                        <div class="col-md-9">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Yeni bir mesaj oluştur</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" style="background-color: rgba(0,0,0,.03);">
                                    <a href="/Mesaj/GetAll/">Kullanıcılar Listesi</a>
                                    <div class="form-group">
                                        <input type="email" class="form-control" value="@ViewBag.Alıcı" placeholder="Alıcı" name="AlıcıMail" required>

                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Konu:" name="Konu" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="compose-textarea" class="form-control" name="MesajIcerigi" style="height: 300px" required>
                                       
                                         </textarea>
                                    </div>
                                    <h6>Tek seferde en fazla 3 öğe gönderilebilir.</h6>
                                    <div style="display:flex;">

                                        <div class="form-group" style="font-size: medium; justify-content: space-between;margin-left:10px; text-align:left;">
                                            <div class="btn btn-default btn-file" style="font-size:medium;">
                                                <i class="fas fa-paperclip" style="margin-left:10px;"></i> Gönderi 1
                                                <input type="file" name="Dosyalar" accept=".png,.jpg,.jpeg,.gif,.tif,.pdf,.doc,.docx" multiple>
                                            </div>
                                            <p class="help-block">Max. 32MB</p>
                                        </div>

                                        <div class="form-group" style="font-size:medium;">
                                            <div class="btn btn-default btn-file" style="font-size:medium;">
                                                <i class="fas fa-paperclip"></i> Gönderi 2
                                                <input type="file" name="Dosyalar2" accept=".png,.jpg,.jpeg,.gif,.tif,.pdf,.doc,.docx" multiple>
                                            </div>
                                            <p class="help-block">Max. 32MB</p>
                                        </div>

                                        <div class="form-group" style="font-size:medium;">
                                            <div class="btn btn-default btn-file" style="font-size:medium;">
                                                <i class="fas fa-paperclip"></i> Gönderi 3
                                                <input type="file" name="Dosyalar3" accept=".png,.jpg,.jpeg,.gif,.tif,.pdf,.doc,.docx" multiple>
                                            </div>
                                            <p class="help-block">Max. 32MB</p>
                                        </div>

                                    </div>


                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <div class="float-right">

                                        <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                                    </div>
                                    <a href="/Mesaj/MesajYaz/" class="btn btn-default"><i class="fas fa-times"></i> Sil</a>
                                </div>




                                <!-- /.card-footer -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                        @*</form>*@
                    }

                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>



    </div>

    <script src="https://cdn.tiny.cloud/1/duer2orh362t0cqj16rbl11puh1oo9t0t1vbkgu40560qdnk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#compose-textarea'
        });

    </script>
    <!-- ./wrapper -->
    <!--<!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/demo.js"></script>
</body>
</html>
