
@using StajYonetimBilgiSistemi.Models.Entity
@model IEnumerable<StajYonetimBilgiSistemi.Models.Entity.Kullanicilar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 6);
}

<h3 style="text-align:center;">Kullanıcı Listesi</h3>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<style>
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1em;
        width: 100%;
        display: table;
    }

    .webgrid-header {
        background-color: #d4caca;
        color: #808080;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-table td, th {
        border: 1px solid #808080;
        padding: 3px 7px 2px;
    }
</style>



    <div style="margin-right:45px;width:500px;float:right;display:flex;margin-top:50px;">

        @Html.TextBox("ara", null, new { @class = "form-control", @placeholder = "Ad Soyad Ara" })

        @*@Html.ActionLink("Ara", "Index", null, new { @class = "btn btn-info", onclick = "$(this).parents('form').attr('action', $(this).attr('href'));$(this).parents('form').submit();return false;" })*@

        <button type="submit" class="btn btn-primary">Ara </button>

    </div>


@grid.GetHtml(
      tableStyle: "webgrid-table",
     headerStyle: "webgrid-header",
    columns: grid.Columns(
    grid.Column("Id", "Id"),
    grid.Column("KullaniciAdi", "Kullanıcı Adı"),
    grid.Column("AdiSoyadi", "Adı Soyadı"),
    grid.Column("Email", "Email"),
    grid.Column("Rol", "Rol"),
    grid.Column("KayitTarihi", "Kayıt Tarihi"),
    grid.Column("CalisanKurumTanim", "Çalıştığı Kurum"),
    grid.Column("CalisanDepartman", "Çalıştığı Departman"),
    grid.Column("CalisanPersonel", "Çalışan"),
    grid.Column("Sifre", "Şifre"),
    grid.Column("SifreKontrol", "Şifre Kontrol"),

    grid.Column("Güncelle", header: null, format: @<text>@Html.ActionLink(
"Seç", "GuncelleBilgiGetir", new { id = item.Id })</text>),
grid.Column("Sil", header: null, format: @<text>@Html.ActionLink(
"Seç", "SilBilgiGetir", new { id = item.Id })</text>)
)
)