@model StajYonetimBilgiSistemi.Models.Entity.GUNLUK_CALISMA
@{
    ViewBag.Title = "GunlukCalismaEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <form action="/GunlukCalisma/GunlukCalismaEkle2/" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <b>Stajyer : </b>
        @ViewBag.stajyer

        </div>

        <div class="form-group">
            <label for="TARIH">Tarih :</label>
       
            <input type="datetime-local" id="TARIH" name="TARIH">
        </div>

        <div class="form-group">
            <label>Açıklama :</label>
            <br />  &nbsp; &nbsp; &nbsp;
            <textarea name="ACIKLAMA"
                      rows="10" cols="100"
                      tabindex="40"></textarea>

        </div>

        <div class="form-group">
            <button class="btn btn-success">Gunluk Çalışma Ekle</button>
            <a href="/GunlukCalisma/Index/">Geri Dön </a>
        </div>

    </form>
</div>
