@model StajYonetimBilgiSistemi.Models.Entity.KURUM_PERSONEL
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form action="/KurumPersonel/PersonelEkle2/">

        <div class="form-group">
            <label>Kurum Departman Seç</label>

            @Html.DropDownListFor(m => m.FK_KURUM_DEPARTMAN, (List<SelectListItem>)ViewBag.dgr, "---Seçiniz---", new { @class = "form-control" })

        </div>
        <div class="form-group">
            <label>Adı</label>
            <input type="text" name="ADI" class="form-control" />

        </div>
        <div class="form-group">
            <label>Soyad</label>
            <input type="text" name="SOYADI" class="form-control" />

        </div>
        <div class="form-group">
            <label>Unvan</label>
            <input type="text" name="UNVAN" class="form-control" />

        </div>   <div class="form-group">
            <label>GSM</label>
            <input type="text" name="GSM" class="form-control" />

        </div>   <div class="form-group">
            <label>Email</label>
            <input type="text" name="EMAIL" class="form-control" />

        </div>
        <div class="form-group">
            <button class="btn btn-success">Personel Ekle</button>
        </div>
    </form>
</div>
